::-webkit-scrollbar{-webkit-appearance:none}
::-webkit-scrollbar-track{background-color:transparent}
::-webkit-scrollbar:vertical{width:10px}
::-webkit-scrollbar:horizontal{height:10px}
::-webkit-scrollbar-thumb{
    border-radius:6px;background-color:rgba(0,0,0,.4);
    background-clip:padding-box;border:2px solid transparent}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.5)}
html{background-color:#fff}
body::-webkit-scrollbar{-webkit-appearance:none}
body::-webkit-scrollbar-track{background-color:transparent}
body::-webkit-scrollbar:vertical{width:13.33px}
body::-webkit-scrollbar:horizontal{height:13.33px}
body::-webkit-scrollbar-thumb{
    border-radius:8px;background-color:rgba(0,0,0,.4);
    background-clip:padding-box;border:2.67px solid transparent
    }
body::-webkit-scrollbar-thumb:hover{
    background-color:rgba(0,0,0,.5)
}

body {
	overflow: hidden;
}

.topMargin {
	margin-top: 15px;
}